* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 100%;
  font-family: sans-serif;
}
body {
  background-color: #002E52;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #026EAF;
  color: white;
  box-shadow: 3px 3px 6px black;
}
input[type="checkbox"] {
  margin: 10px 10px;
  accent-color: green;
}
.btn-borrar {
  font-size: 1rem;
  background-color: transparent;
  border: none;
  filter: drop-shadow(2px 2px 5px black);
  margin-right: 10px;
}
button:hover, label {
  cursor: pointer;
}
nav {
  width: 90%;
  height: 45px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(rgb(0, 102, 255),#014E82);
  color: white;
  border-radius: 0.30rem;
}
.nav-menu {
  width: auto;
  margin-right: 15px;
}
.btn-menu {
  font-weight: 900;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1.5rem;
}
b {
  width: auto;
  display: flex;
}
#itemText {
  display: none;
}
main {
  width: 90%;
  height:auto;
  border-radius: 0.30rem;
}
.tareaContenedor {
  background: linear-gradient(rgb(0, 102, 255),#014E82);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 50px;
  border-radius: 0.30rem;
  margin-top: 5px;
  word-wrap: break-word;
}
.texto {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;

}
.leido {
  text-decoration: line-through;
  color: grey;
}
.btn-editar, .btn-tachar {
  margin-right: 5px;
  background-color: transparent;
  border: none;
  filter: drop-shadow(2px 2px 5px black);
  font-size: 1.2rem;
}
.checkTarea {
  margin-left: 5px;
}
.nuevoTexto {
  width: 90%;
  height: 80%;
  margin-left: 10px;
  margin-top: 20px;
  background-color: transparent;
  border:none;
  color: white;
  font-size: 1rem;
  outline: none; 
}
input[type="submit"] {
  font-size: 1rem;
  width:30px;
  height: 30px;
  border-radius: 100%;
  border: none;
  margin: 0 10px;
  margin-top: 20px;
}
input[type="submit"]:hover {
  cursor: pointer;
}
.input-text {
  height: 50px;
}
input::placeholder {
  color: white;
}
form {
  width: 100%;
  display: flex;  
  align-items: center;
  height: 90px;
  margin-bottom: 20px;
}

section {
  position: fixed;
  background-color: rgba(128, 128, 128, 0.61);
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: flex-start;
}
.cardBorrar {
  background-color: white;
  width: 80%;
  height: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.75rem;
  box-shadow: 3px 3px 10px black;
  transform: translateY(50px);
  animation: animacion .5s ease
}
.cardBorrar p {
  margin-top: 20px;
}
.nav-btn-borrar {
  width: 100%;
  height: auto;
  text-align: center;
}
.nav-btn-borrar button {
  padding: 10px;
  margin: 5px;
  border: none;
  width: 40px;
  background: transparent;
  font-size: 18px;
}
.nav-btn-borrar button:hover {
  filter: drop-shadow(3px 3px 5px black);
}
@media screen and (min-width: 1024px){
  main, nav {
    width:50%;
  }
  b p {
    margin-right: 5px;
  }
  #itemText {
    display: block;
    margin-right: 5px;
  }
  .cardBorrar {
    width: 30%;
  }
}

.contenedorDelete {
  display: flex;
}

@keyframes animacion {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(50px);
  }
}